<h1>All shoes</h1>


<div class="row">
<% @shoes.each do |shoe| %>
  <div class="col-4">
    <div class="card">
      <img src="<%= shoe.images[0].url %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= shoe.name %></h5>
        <p class="card-text">Brand: <%= shoe.brand.name %></p>
        <p class="card-text">Size: <%= shoe.size %></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
<% end %>
</div>
  

